body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #315650;
}
nav{
  background-color: rgba(228, 170, 109, 0.438);
  margin-bottom: 30px;
}
button{
  margin-top: 30px;
}